.flex_cell.av-139dg-1e7266177c9d8eb34243ab44ac99a07e {
    vertical-align: middle;
    height: 300px;
    min-height: 300px;
    background-color: #041d29;
}

.responsive #top #wrap_all .flex_cell.av-139dg-1e7266177c9d8eb34243ab44ac99a07e {
    padding: 5px 5px 5px 5px !important;
}

.avia-image-container.av-kkra-cf877f5c78bd87d1927ea86809694af1 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-kkra-cf877f5c78bd87d1927ea86809694af1 .av-caption-image-overlay-bg {
    opacity: 0.3;
    background-color: #000000;
}

.avia-image-container.av-kkra-cf877f5c78bd87d1927ea86809694af1 .av-image-caption-overlay-center {
    color: #ffffff;
    font-size: 15px;
}

.flex_cell.av-zo2q-9f9e3df822fc647e738c31fe25c628d9 {
    vertical-align: middle;
    height: 300px;
    min-height: 300px;
    background-color: #041d29;
}

.responsive #top #wrap_all .flex_cell.av-zo2q-9f9e3df822fc647e738c31fe25c628d9 {
    padding: 5px 5px 5px 5px !important;
}

.avia-image-container.av-3tku-cd3071d8fde4396b7f89d172f394d176 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-3tku-cd3071d8fde4396b7f89d172f394d176 .av-caption-image-overlay-bg {
    opacity: 0.3;
    background-color: #000000;
}

.avia-image-container.av-3tku-cd3071d8fde4396b7f89d172f394d176 .av-image-caption-overlay-center {
    color: #ffffff;
    font-size: 15px;
}

.flex_cell.av-uxta-592a5ee7f911d0c957bfecc4e851f010 {
    vertical-align: middle;
    height: 300px;
    min-height: 300px;
    background-color: #041d29;
}

.responsive #top #wrap_all .flex_cell.av-uxta-592a5ee7f911d0c957bfecc4e851f010 {
    padding: 5px 5px 5px 5px !important;
}

.avia-image-container.av-xsxs-119bc3ca1fe1acc50bf9589e3ec3f90d img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-xsxs-119bc3ca1fe1acc50bf9589e3ec3f90d .av-caption-image-overlay-bg {
    opacity: 0.3;
    background-color: #000000;
}

.avia-image-container.av-xsxs-119bc3ca1fe1acc50bf9589e3ec3f90d .av-image-caption-overlay-center {
    color: #ffffff;
    font-size: 15px;
}

.flex_cell.av-qg78-3e0c6c75f50cc6bf98621b57deba03ae {
    vertical-align: middle;
    height: 300px;
    min-height: 300px;
    background-color: #041d29;
}

/* media queries */
@media screen and (max-width:767px) {

    .flex_cell.av-139dg-1e7266177c9d8eb34243ab44ac99a07e,
    .flex_cell.av-zo2q-9f9e3df822fc647e738c31fe25c628d9,
    .flex_cell.av-uxta-592a5ee7f911d0c957bfecc4e851f010,
    .flex_cell.av-qg78-3e0c6c75f50cc6bf98621b57deba03ae {
        min-height: 220px;
    }
}

.responsive #top #wrap_all .flex_cell.av-qg78-3e0c6c75f50cc6bf98621b57deba03ae {
    padding: 5px 5px 5px 5px !important;
}

.avia-image-container.av-s4sc-a899f2374a42e1fac7cdf17d07e43b9e img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-s4sc-a899f2374a42e1fac7cdf17d07e43b9e .av-caption-image-overlay-bg {
    opacity: 0.3;
    background-color: #000000;
}

.avia-image-container.av-s4sc-a899f2374a42e1fac7cdf17d07e43b9e .av-image-caption-overlay-center {
    color: #ffffff;
    font-size: 15px;
}

.flex_cell.av-n2ma-5adb4af4f8610ec82458c423c0cd0200 {
    vertical-align: middle;
    height: 300px;
    min-height: 300px;
    background-color: #041d29;
}

.responsive #top #wrap_all .flex_cell.av-n2ma-5adb4af4f8610ec82458c423c0cd0200 {
    padding: 5px 5px 5px 5px !important;
}

.avia-image-container.av-ny5u-08937cbb1390a14442c3c614e834f873 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-ny5u-08937cbb1390a14442c3c614e834f873 .av-caption-image-overlay-bg {
    opacity: 0.3;
    background-color: #000000;
}

.avia-image-container.av-ny5u-08937cbb1390a14442c3c614e834f873 .av-image-caption-overlay-center {
    color: #ffffff;
    font-size: 15px;
}

.flex_column.av-2s3j0-c6ef4dfc9ebf946f1e28fe042e40458d {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-2oxsk-18616eb3598329c77814f219f3fedd0e img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-2oxsk-18616eb3598329c77814f219f3fedd0e .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-2zlao-5489a64af9f20a20d46a2d286b378a78 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-40oo-6066950e531605904405966bba89f222 {
    padding-bottom: 5px;
}

body .av-special-heading.av-40oo-6066950e531605904405966bba89f222 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-40oo-6066950e531605904405966bba89f222 .av-subheading {
    font-size: 15px;
}

#top #wrap_all .avia-button.av-2tzqk-ad41a257840fd081917df7abeef79244 {
    background-color: #609bb6;
    border-color: #609bb6;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.flex_cell.av-2lleo-b2e4ccc4f4ab68050dce1a1311c9ba2a {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-2lleo-b2e4ccc4f4ab68050dce1a1311c9ba2a {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-2j9c0-3e6375d16e5594b7565ee3e7fa811c78 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-2j9c0-3e6375d16e5594b7565ee3e7fa811c78 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-2gz9a-14975353dd9f3aef9be7964627f74a0b {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-2gz9a-14975353dd9f3aef9be7964627f74a0b {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-2ec0y-2468c0b9375de48218a3dc3b9f4673bd img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-2ec0y-2468c0b9375de48218a3dc3b9f4673bd .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-2dlp6-6c6372a170eb717cffe3a842d0a9748d {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-2dlp6-6c6372a170eb717cffe3a842d0a9748d {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-29qgy-1f3c28f909f40039fe96fa53da9b000a img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-29qgy-1f3c28f909f40039fe96fa53da9b000a .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-sqi-09827e48376b87023fe574bcb313d510 {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-sqi-09827e48376b87023fe574bcb313d510 {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-27au8-2114f69ccc63b4572102c56a42c32151 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-27au8-2114f69ccc63b4572102c56a42c32151 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-251cm-7199c1e4850b2ae7c37095ba91bda718 {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-251cm-7199c1e4850b2ae7c37095ba91bda718 {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-22ipa-5ac762c8430e340428195081880e1b7b img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-22ipa-5ac762c8430e340428195081880e1b7b .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-6xfs-b708d60ccc83e110591671f06af1f1e7 {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-6xfs-b708d60ccc83e110591671f06af1f1e7 {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-1vlke-970e01fbbb87c53caadd6dc87b442b77 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-1vlke-970e01fbbb87c53caadd6dc87b442b77 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-1u48y-7e2b04af015b8cf120b57b597c2edd25 {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-1u48y-7e2b04af015b8cf120b57b597c2edd25 {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-1rhsy-f2f76e7aa33f62c9846664b3a5a781f4 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-1rhsy-f2f76e7aa33f62c9846664b3a5a781f4 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-1pseo-f002ce3c9dc827baad73e441c0741faa {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-1pseo-f002ce3c9dc827baad73e441c0741faa {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-5x72-90f0e785ba7276e0ace8fbd861c781a7 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-5x72-90f0e785ba7276e0ace8fbd861c781a7 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-5nx6-d0fce2602ff10eeadb8302bc24291321 {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-5nx6-d0fce2602ff10eeadb8302bc24291321 {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-5f9i-0d14b63874446bf127173a76c0b877e4 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-5f9i-0d14b63874446bf127173a76c0b877e4 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_cell.av-1g4tc-8bfafd2cba1991be57de6e7efb3c71f3 {
    vertical-align: middle;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-1g4tc-8bfafd2cba1991be57de6e7efb3c71f3 {
    padding: 10px 0px 0px 0px !important;
}

.avia-image-container.av-1e35o-914111b8589173229c19b355541d9b42 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-1e35o-914111b8589173229c19b355541d9b42 .av-image-caption-overlay-center {
    color: #ffffff;
}

.avia-section.av-1c8my-e3d1e39a53040eae772430404d51249b {
    background-color: #041d29;
    background-image: unset;
}

#top .hr.hr-invisible.av-19heg-18de3dfd2b94bde6079e4e6829b7e9ba {
    height: 20px;
}

.flex_cell.av-fcsc-19396b4d76e963a739e739e9f5f9a27b {
    vertical-align: middle;
    height: 350px;
    min-height: 350px;
    background-color: #61afcc;
}

.responsive #top #wrap_all .flex_cell.av-fcsc-19396b4d76e963a739e739e9f5f9a27b {
    padding: 30px 60px 30px 60px !important;
}

#top .av-special-heading.av-di74-0c380da4de6f4f945c6f6c7a5f8ec8bc {
    padding-bottom: 10px;
    color: #041d29;
}

body .av-special-heading.av-di74-0c380da4de6f4f945c6f6c7a5f8ec8bc .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-di74-0c380da4de6f4f945c6f6c7a5f8ec8bc .special-heading-inner-border {
    border-color: #041d29;
}

.av-special-heading.av-di74-0c380da4de6f4f945c6f6c7a5f8ec8bc .av-subheading {
    font-size: 15px;
}

#top .av_textblock_section.av-cm26-8043cbcf44443636824751ea68b42ece .avia_textblock {
    color: #041d29;
}

#top .hr.hr-invisible.av-9x1y-0d95de07d09476eb6dcb9cb7ae996024 {
    height: 10px;
}

.flex_cell.av-633u-d6e4f4285f60fdaea30429337198b0be {
    vertical-align: middle;
    height: 350px;
    min-height: 350px;
    background: url(../images/Military-and-law-appreciation-program-with-quote-01.jpg) 0% 50% no-repeat scroll;
}

.responsive #top #wrap_all .flex_cell.av-633u-d6e4f4285f60fdaea30429337198b0be {
    padding: 100px 100px 100px 100px !important;
}

.avia-image-container.av-l785z44s-1b1a72f482f141a4ef75ad3dd57d268e img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-l785z44s-1b1a72f482f141a4ef75ad3dd57d268e .av-image-caption-overlay-center {
    color: #ffffff;
}

.avia-image-container.av-bjoi-f46a73ce3627ace59846e255c5e2372a img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-bjoi-f46a73ce3627ace59846e255c5e2372a .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-2fzk-2c89cf34dac0c2413e91a356c1502857 {
    padding-bottom: 5px;
}

body .av-special-heading.av-2fzk-2c89cf34dac0c2413e91a356c1502857 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-2fzk-2c89cf34dac0c2413e91a356c1502857 .av-subheading {
    font-size: 15px;
}

#top .av_textblock_section.av-jn0zoalx-f3e93c31826a4f9054e83e239346fa59 .avia_textblock {
    color: #041d29;
}

.avia-image-container.av-jn0ydi04-13-9b78bb0e9f556fb9659705b0d454c68f img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-jn0ydi04-13-9b78bb0e9f556fb9659705b0d454c68f .av-image-caption-overlay-center {
    color: #ffffff;
}

.avia-image-container.av-m5yij6t6-302dbbab78a8c013be2e1ec545a9fcb5 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-m5yij6t6-302dbbab78a8c013be2e1ec545a9fcb5 .av-image-caption-overlay-center {
    color: #ffffff;
}

.avia-image-container.av-jn0ydi04-ab2509ca04747bac270af3130752eea0 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-jn0ydi04-ab2509ca04747bac270af3130752eea0 .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-m5ztvw19-8e65978dbfbd69a9e324aeddfe8223c9 {
    padding-bottom: 5px;
}

body .av-special-heading.av-m5ztvw19-8e65978dbfbd69a9e324aeddfe8223c9 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-m5ztvw19-8e65978dbfbd69a9e324aeddfe8223c9 .av-subheading {
    font-size: 15px;
}

#top .av-special-heading.av-m5yivp1v-08737f8656b7e0c75098e7939c52aa4e {
    padding-bottom: 5px;
}

body .av-special-heading.av-m5yivp1v-08737f8656b7e0c75098e7939c52aa4e .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-m5yivp1v-08737f8656b7e0c75098e7939c52aa4e .av-subheading {
    font-size: 15px;
}

#top .av_textblock_section.av-m5yivczi-0cf6bc76cd06105d5cf51fb5ee0fd988 .avia_textblock {
    color: #041d29;
}

#top .av-special-heading.av-m5zuqa4s-0526a34cff6e915bca66be4ca6e2d1ed {
    padding-bottom: 5px;
}

body .av-special-heading.av-m5zuqa4s-0526a34cff6e915bca66be4ca6e2d1ed .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-m5zuqa4s-0526a34cff6e915bca66be4ca6e2d1ed .av-subheading {
    font-size: 15px;
}

#top .av-special-heading.av-m5zuu2jn-dd4388a2b0d13ce639b41f4819bf42dc {
    padding-bottom: 5px;
}

body .av-special-heading.av-m5zuu2jn-dd4388a2b0d13ce639b41f4819bf42dc .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-m5zuu2jn-dd4388a2b0d13ce639b41f4819bf42dc .av-subheading {
    font-size: 15px;
}

.avia-image-container.av-m5zuqy9y-7faac76771e4eab944eec7e7cf51ed5e img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-m5zuqy9y-7faac76771e4eab944eec7e7cf51ed5e .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-3j7i-b3ec1fddaa072ae5c383dba1ae988b95 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-kyxblkjx-bfeef625ce2bad34afa90774cd385f07 {
    padding-bottom: 10px;
}

body .av-special-heading.av-kyxblkjx-bfeef625ce2bad34afa90774cd385f07 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-kyxblkjx-bfeef625ce2bad34afa90774cd385f07 .av-subheading {
    font-size: 15px;
}

.flex_column.av-5uei-d0fb4ad0a218bfe52de8ee519b37b7e3 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-kyxauv50-3bd35720fd915ff385a05592cfdd8ee7 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-kyxauv50-3bd35720fd915ff385a05592cfdd8ee7 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-4qq6-f5887976f69673cf21137212902858c5 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-3ac2-040a52464ada498913740444eb2e660b img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-3ac2-040a52464ada498913740444eb2e660b .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-cdkw-3145ac156fe009096bee879aacc15ea0 {
    padding: 0 100px 0 100px;
}

.avia-image-container.av-lmzcipvo-903e818325d71e5c07c5ceac9b0071e8 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-lmzcipvo-903e818325d71e5c07c5ceac9b0071e8 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-a27i-b08f44acad3e1449c04699a61b8a01e8 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-lmzcjyfg-24efe37cf863d065f94423a6a7c2491d img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-lmzcjyfg-24efe37cf863d065f94423a6a7c2491d .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-lmzcksuz-978da1410ec29e64584e364c83839e32 {
    padding-bottom: 5px;
}

body .av-special-heading.av-lmzcksuz-978da1410ec29e64584e364c83839e32 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-lmzcksuz-978da1410ec29e64584e364c83839e32 .av-subheading {
    font-size: 15px;
}

#top .av_textblock_section.av-lmzcl2i5-94136505574612b85264b99be48cc34a .avia_textblock {
    color: #041d29;
}

#top .av-special-heading.av-lmzcnz8x-297b210ff1164d7637626389ae05a1fb {
    padding-bottom: 5px;
}

body .av-special-heading.av-lmzcnz8x-297b210ff1164d7637626389ae05a1fb .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-lmzcnz8x-297b210ff1164d7637626389ae05a1fb .av-subheading {
    font-size: 15px;
}

#top .av_textblock_section.av-lmzcojvw-62b431b2c0b15eca82588bb3fda9c45d .avia_textblock {
    color: #041d29;
}

.flex_column.av-8hlg-723d51172fd99ecff0965d80b7c0bfba {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-lj55us5d-99f41988106aaf8013e5fcef1f41074c img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-lj55us5d-99f41988106aaf8013e5fcef1f41074c .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-lj55x6h2-edee0dcabf29fd901a21ffb623bdd0af {
    padding-bottom: 10px;
}

body .av-special-heading.av-lj55x6h2-edee0dcabf29fd901a21ffb623bdd0af .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-lj55x6h2-edee0dcabf29fd901a21ffb623bdd0af .av-subheading {
    font-size: 15px;
}

.flex_column.av-3odm-bd294a3d1b7d1719adade697cc3b0005 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-kpyg0sc5-6ea69c0bca3a4a9b6b93a89a0744e040 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-kpyg0sc5-6ea69c0bca3a4a9b6b93a89a0744e040 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-5vtc-c293fc40dd3f2f261e2116a5ab914d92 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-ko4mv3xq-5e99a63b62a8a70012ba489dc2c540b3 {
    padding-bottom: 15px;
}

body .av-special-heading.av-ko4mv3xq-5e99a63b62a8a70012ba489dc2c540b3 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-ko4mv3xq-5e99a63b62a8a70012ba489dc2c540b3 .av-subheading {
    font-size: 15px;
}

#top #wrap_all .avia-button.av-ko4n0thv-41087e2555170599a25045da7817d62b {
    background-color: #609bb6;
    border-color: #609bb6;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.flex_column.av-7afk-ae743ef09b61d8577d316cbacf0f34c1 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-ko4mskur-7a325a290cd18b5adef4583b01c1ac31 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-ko4mskur-7a325a290cd18b5adef4583b01c1ac31 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-dvy4-1c2b1fc3bc77656cc5d5ea5ddb3fecd1 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-c1k4-f06db35fbb6d7c14eb577db61c56ad3a img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-c1k4-f06db35fbb6d7c14eb577db61c56ad3a .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-ktnht9ki-2eefb12d83ed9fa1a6860037989ae356 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-ktnht41b-e9cb0e524f5dd514615b31f6f120192c {
    padding-bottom: 15px;
}

body .av-special-heading.av-ktnht41b-e9cb0e524f5dd514615b31f6f120192c .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-ktnht41b-e9cb0e524f5dd514615b31f6f120192c .av-subheading {
    font-size: 15px;
}

.flex_column.av-60mo-de399f1b7ddb6c288291ab2315359e99 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-2qww-7df26b6d8d9a128578fa001409eebf84 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-2qww-7df26b6d8d9a128578fa001409eebf84 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-9szk-4d6f83b158c17a6be82d1135ffe1d4b1 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.flex_column.av-5yg2-c17db90607df61b1c6d74eb91a55fa17 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-section.av-kpygnl4d-d6c3f7865a4a3db846029039ae71a95c {
    background-color: #61afcc;
    background-image: unset;
}

.flex_column.av-3eku-213724a809bb98564098907e59b4c5da {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-kpygioyh-dd4352e2e7b3631ceeb0db39f77810aa img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-kpygioyh-dd4352e2e7b3631ceeb0db39f77810aa .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-m64-302404fa7c718e92af79269e9434a88f {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-kgqyrv6m-88405615155d7426ea7e0bf57db6cf9f {
    padding-bottom: 15px;
    color: #ffffff;
}

body .av-special-heading.av-kgqyrv6m-88405615155d7426ea7e0bf57db6cf9f .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-kgqyrv6m-88405615155d7426ea7e0bf57db6cf9f .special-heading-inner-border {
    border-color: #ffffff;
}

.av-special-heading.av-kgqyrv6m-88405615155d7426ea7e0bf57db6cf9f .av-subheading {
    font-size: 15px;
}

.flex_column.av-2mw6-cbb10fd3e9ffd7433d98a1a42838db82 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-video.av-kqb9qizb-842c333580356fdaa9fb32dc58349d84 {
    background-image: url(../images/Screen-Shot-2021-06-04-at-1.38.13-PM-1-300x168.jpg);
}

.flex_column.av-m64-10-01ac604030e8d48255aef008d7adf4fd {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-video.av-kpismuk2-67aee0d05efe18cc65ea8c6a527e312e {
    background-image: url(../images/Screen-Shot-2021-06-04-at-1.38.13-PM-1-300x168.jpg);
}

.flex_column.av-b51k-a9164f3d6ec6ba79d4024f3614810ef9 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-9k3k-cd783e4e702e3266403d3f461709fca5 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-9k3k-cd783e4e702e3266403d3f461709fca5 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-812q-2c7be635c7d21ab1fd830044f3b74692 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-5020-b7401a07ad3bcdedb6f0b639faa12807 {
    padding-bottom: 15px;
}

body .av-special-heading.av-5020-b7401a07ad3bcdedb6f0b639faa12807 .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-5020-b7401a07ad3bcdedb6f0b639faa12807 .av-subheading {
    font-size: 15px;
}

#top #wrap_all .avia-button.av-2mwg-27ca20816876d09607c5d368ad7d0207 {
    background-color: #609bb6;
    border-color: #609bb6;
    color: #041d29;
    transition: all 0.4s ease-in-out;
}

.flex_column.av-m64-5-e98f8c52e429e2b7c664edca21488436 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-jn0ydi04-6-b0f1e4bbf6712552103679273c7de78f img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-jn0ydi04-6-b0f1e4bbf6712552103679273c7de78f .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-jzd69frm-2f882c8fb7279def672c363d3d66496e {
    padding-bottom: 10px;
}

body .av-special-heading.av-jzd69frm-2f882c8fb7279def672c363d3d66496e .av-special-heading-tag .heading-char {
    font-size: 25px;
}

.av-special-heading.av-jzd69frm-2f882c8fb7279def672c363d3d66496e .av-subheading {
    font-size: 15px;
}

.flex_column.av-2nxe-80c7f0e2a310064c46d8ca23a2d6d724 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-jn0ydi04-4-c9ef1e70c3bbdc7e753f4404eebd7d45 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-jn0ydi04-4-c9ef1e70c3bbdc7e753f4404eebd7d45 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-jn10c9d6-14-4dd8bdd3196f2161b49465e7a78c35c3 {
    border-radius: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
}

/* media queries */
@media screen and (max-width: 568px) {
    .flex_column.av-jn10c9d6-14-4dd8bdd3196f2161b49465e7a78c35c3 {
        padding: 0;
    }
}

.avia-image-container.av-jn0yfi9u-c579e71841c883d734a1c9ebbd3143c8 img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-jn0yfi9u-c579e71841c883d734a1c9ebbd3143c8 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-jn10c9d6-2-100174fdcaf4e06861359dd7c2962ef6 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-jn0ydi04-3-6ca36887bfe5d81f75bc98ac2214d54c img.avia_image {
    box-shadow: none;
}

.avia-image-container.av-jn0ydi04-3-6ca36887bfe5d81f75bc98ac2214d54c .av-image-caption-overlay-center {
    color: #ffffff;
}